version: '2.0'
services:
  eros:
    image: registry.aspc.me/aspcartman/eros
    links:
    - postgres
  postgres:
    image: 'postgres:10.1-alpine'
    environment:
      POSTGRES_DB: eros
    volumes:
    - './data/postgres:/var/lib/postgresql/data'
    ports:
    - "127.0.0.1:7771:5432"